<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      Ingresa un villano en la agenda
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Navegación de palanca">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="container-fluid">
    <span>Hay <strong class="text-primary">{{numVillanos}}</strong> villano<span *ngIf="numVillanos != 1">s</span> en la agenda</span>
  </div>
</nav>